#home_content {
  display: flex;
  width: 100%;
  height: 88vh;
  @include mobile {
    height: 90vh;
  }
  .content {
    width: 100%;
    height: inherit;
    background-color: #fff;
    .main {
      padding: 15px;
      .banner-music {

      }
    }
  }
}

#musicCard {
  position: relative;
  left: 300px;
  top: -200px;
}

#navBar {
  #nav {
    position: relative;
    z-index: 20;
    max-width: 300px;
    min-width: 215px;
    height: 90vh;
    @include mobile {
      position: absolute;
      left: -999px;
      transition: all 400ms ease-in-out;
      &.selected {
        left: 0;
      }
    }
  }
}

#reproductor {
  height: 12vh;
  position: relative;
  z-index: 100;
  @include mobile {
    height: 10vh;
  }
  @include mobile-fold {
    flex-direction: column;
    height: 40vh;
  }
}